<configuration>
  <property name="sklog.path" value="./logs"/>
  <property name="sklog.prefix" value="org.shaneking"/>
  <property name="sklog.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %thread %logger:%line - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <!-- http://logback.qos.ch/manual/appenders.html#AsyncAppender -->
  <appender name="CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <discardingThreshold>0</discardingThreshold>
    <queueSize>256</queueSize>
    <appender-ref ref="CONSOLE"/>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>${sklog.path}/${sklog.prefix}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- Rolling Policy: By Date By Size -->
      <fileNamePattern>${sklog.path}/${sklog.prefix}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>32</maxHistory><!-- Day -->
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  <appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <discardingThreshold>0</discardingThreshold>
    <queueSize>256</queueSize>
    <appender-ref ref="FILE"/>
  </appender>
  <root level="INFO">
    <appender-ref ref="CONSOLE_ASYNC"/>
    <appender-ref ref="FILE_ASYNC"/>
  </root>


  <appender name="SPECIAL_PACKAGE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>${sklog.path}/${sklog.prefix}.xxx.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- Rolling Policy: By Date By Size -->
      <fileNamePattern>${sklog.path}/${sklog.prefix}.xxx.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>32</maxHistory><!-- Day -->
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  <appender name="SPECIAL_PACKAGE_FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <discardingThreshold>0</discardingThreshold>
    <queueSize>256</queueSize>
    <appender-ref ref="SPECIAL_PACKAGE_FILE"/>
  </appender>
  <!-- additifiltervity=false : the org.shaneking.xxx log just output to this logger -->
  <logger name="org.shaneking.xxx" level="WARN" additifiltervity="false">
    <appender-ref ref="SPECIAL_PACKAGE_FILE_ASYNC"/>
  </logger>


  <appender name="JUST_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>${sklog.path}/${sklog.prefix}.yyy.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- Rolling Policy: By Date By Size -->
      <fileNamePattern>${sklog.path}/${sklog.prefix}.yyy.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>32</maxHistory><!-- Day -->
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  <appender name="JUST_ERROR_FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <discardingThreshold>0</discardingThreshold>
    <queueSize>256</queueSize>
    <appender-ref ref="JUST_ERROR_FILE"/>
  </appender>
  <logger name="org.shaneking.yyy" level="WARN">
    <appender-ref ref="JUST_ERROR_FILE_ASYNC"/>
  </logger>
</configuration>
