<configuration>
  <property name="sklog.path" value="./logs"/>
  <property name="sklog.pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%logger:%line] - %msg%n"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>${sklog.path}/org.shaneking.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${sklog.path}/org.shaneking-%d{yyyy-MM-dd}.%i.log</fileNamePattern><!-- Rolling Policy: By Date By Size -->
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>32</maxHistory><!-- Day -->
      <totalSizeCap>5G</totalSizeCap>
    </rollingPolicy>
  </appender>
  <root level="info"><!-- >info -->
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>


  <appender name="SPECIAL_PACKAGE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>${sklog.path}/org.shaneking.xxx.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${sklog.path}/org.shaneking.xxx-%d{yyyy-MM-dd}.%i.log</fileNamePattern><!-- Rolling Policy: By Date By Size -->
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>32</maxHistory><!-- Day -->
      <totalSizeCap>5G</totalSizeCap>
    </rollingPolicy>
  </appender>
  <logger name="org.shaneking.xxx" level="info" additifiltervity="false"><!-- additifiltervity=false : the org.shaneking.xxx log just output to this logger -->
    <appender-ref ref="SPECIAL_PACKAGE_FILE"/>
  </logger>


  <appender name="JUST_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>${sklog.path}/org.shaneking__just_error.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- Just Error Level, =error -->
      <level>error</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${sklog.path}/org.shaneking__just_error-%d{yyyy-MM-dd}.%i.log</fileNamePattern><!-- Rolling Policy: By Date By Size -->
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>32</maxHistory><!-- Day -->
      <totalSizeCap>5G</totalSizeCap>
    </rollingPolicy>
  </appender>
  <logger name="org.shaneking.yyy" level="warn"><!-- level=warn : >warn -->
    <appender-ref ref="JUST_ERROR_FILE"/>
  </logger>
</configuration>
